<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Smart Office Resource management System, <%= @user.name %></h1>
    <p>
      Your account has been created by the Admin. You can now start booking office resources.
    </p>
    <p>
      To login to the system, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
